<div class="form-register">
  <form action="post" class="new-form">
    <div class="form-div">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" placeholder="email@email.co.id" class="form-input" required />
    </div>
    <div class="form-div">
      <label for="password" class="form-label">Email</label>
      <input type="password" id="password" placeholder="********" class="form-input" required />
    </div>
    <div class="form-check">
      <div class="form-check-div">
        <input type="checkbox" id="remember"  value="" class="form-remember" required />
        <label for="remember" class="form-remember-label">Remember Me</label>
      </div>
    </div>
    <button class="form-button" type="submit">Submit</button>
  </form>
</div>

