
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Rubik+Mono+One&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Silkscreen:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Code', monospace;
}

#card {
    box-shadow: 20px 20px #FF79C6;
}

.form-register {
    @apply container
}

.new-form {
    @apply max-w-sm mx-auto
}

.form-div {
    @apply mb-5
}

.form-label {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
}

.form-input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}

.form-check {
    @apply flex items-start mb-5
}

.form-check-div {
    @apply flex items-center h-5
}

.form-remember {
    @apply w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800
}

.form-remember-label {
    @apply ms-2 text-sm font-medium text-gray-900 dark:text-gray-300
}

.form-button {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
}